@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #130f40;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  text-align: center;
}

button {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 15px;
  margin: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  margin: auto;
  border: 1px solid white;
}

.timer-container h2 {
  margin: 0;
}

.actions-wrapper span {
  font-size: 40px;
  margin: 0 10px;
  width: 50px;
}

.clock-container {
  border: 2px solid #fff;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  margin: 20px auto 0 auto;
  width: 400px;
}

.clock-container h1 {
  margin: 0;
}

.clock-container span {
  font-size: 60px;
}

footer {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 520px) {
  .clock-container {
    width: 250px;
  }

  .flex {
    flex-direction: column;
  }

  .timer-container {
    padding: 40px 0;
    border: none;
  }

  .actions-wrapper {
    display: flex;
    flex-direction: row;
  }
}
